.slide-btn {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(180deg);

    &:hover {
        .slide-btn__icon {
            > .icon {
                fill: color('blue');
            }
        }
    }

    &__icon {
        margin-right: 8px;
        fill: color('black');

        > .icon {
            display: block;
        }
    }
}