include ../button/button
include ../filter-list/filter-list

mixin aside()
    -
        var filters = [
            {
                title: 'Цвет',
                type: 'color',
                items: [
                    { name: 'filter-color', color: '#ffffff' },
                    { name: 'filter-color', color: '#000000' },
                    { name: 'filter-color', color: '#5a5a5a' },
                    { name: 'filter-color', color: '#704d35' },
                    { name: 'filter-color', color: '#e0791d' },
                    { name: 'filter-color', color: '#ba0606' },
                    { name: 'filter-color', color: '#38a01a' },
                    { name: 'filter-color', color: '#314976' },
                    { name: 'filter-color', color: '#3748a6' }
                ]
            },
            {
                title: 'Материал',
                items: [
                    { name: 'filter-fabric', label: 'Вельвет' },
                    { name: 'filter-fabric', label: 'Микровелюр' },
                    { name: 'filter-fabric', label: 'Велюр' },
                    { name: 'filter-fabric', label: 'Жаккард' },
                    { name: 'filter-fabric', label: 'Замша' },
                    { name: 'filter-fabric', label: 'Рогожка' }
                ]
            },
            {
                title: 'Угол',
                items: [
                    { name: 'filter-angle', label: 'Левый' },
                    { name: 'filter-angle', label: 'Правый' },
                    { name: 'filter-angle', label: 'Универсальный' }
                ]
            }
        ]
    form(action="" class="filter")
        +filter-list(filters)
        input.button.button_primary(type="submit" value='Применить')
        input.button.button_clear(type="reset" value='Очистить фильтр')
    