include ../button/button
include ../checkbox/checkbox

mixin aside()
    aside.aside
        -
            var checkbox = [
                {id: 'chbox1', title: 'Вельвет'},
                {id: 'chbox2', title: 'Микровелюр'},
                {id: 'chbox3', title: 'Велюр'},
                {id: 'chbox4', title: 'Жаккард'},
                {id: 'chbox5', title: 'Замша'},
                {id: 'chbox6', title: 'Рогожа'}
            ]
        +checkbox(checkbox)
        +button()
    