.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    &__box {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: solid 1px color('gray-dark');
        vertical-align: middle;
        margin-right: 15px;
        cursor: pointer;

        &:hover {
            border: solid 1px color('blue');
        }

        &:checked {
            background-color: color('blue');

            &:hover {
                background-color: color('blue-darker');
            }
        }

        &__checked {
            position: absolute;
            left: 0;
            width: 10px;
            height: 8px;
        }

    }

}