include ../checkmark/checkmark

mixin checkbox(arr, item)
    checkbox.checkbox
        if arr
            each item in arr
                .checkbox__form
                    input.checkbox__box(id=item.id type="checkbox")
                    //span.checkbox__checked
                        +checkmark('cart')
                    label.checkbox__label(for=item.id)= item.title
                    
                        
                