include ../button/button
include ../page-information/page-information
include ../footer-menu/footer-menu

mixin footer()
    footer.footer
        .container
            .row
                .col-xs-24.d-xs-block.d-md-none
                    .footer__middle
                        .footer__middle-text По любым вопросам обращайтесь:
                        a.footer__middle-link(href='tel:+74992421254' title='+7 499 242-12-54') +7 499 242-12-54
            .row
                .col-md-13.col-xs-20
                    -
                        var arr = [
                            {
                                title: 'Каталог',
                                url: '#'
                            },
                            {
                                title: 'Оплата',
                                url: '#'
                            },
                            {
                                title: 'Доставка',
                                url: '#'
                            },
                            {
                                title: 'Возврат',
                                url: '#'
                            },
                            {
                                title: 'Сборка',
                                url: '#'
                            },
                            {
                                title: 'Помощь',
                                url: '#'
                            },
                            {
                                title: 'Обратная связь',
                                url: '#'
                            }
                        ]
                    +footer-menu(arr)
                .col-lg-5.offset-lg-6.col-md-8.offset-md-3.d-xs-none.d-md-block
                    .footer__middle
                        .footer__middle-text По любым вопросам обращайтесь:
                        a.footer__middle-link(href='tel:+74992421254' title='+7 499 242-12-54') +7 499 242-12-54
        .footer__bottom
            .container
                .row
                    .col-xl-4
                        div.page-information.page-information__info= "© 2019, Интернет-магазин мебели"