mixin color-checkbox(name)
    color-checkbox.color-checkbox
        ul.color-checkbox__list
            li.color-checkbox__list-item
                label.color-checkbox
                    input.color-checkbox__input(type='checkbox' name=name)
                    span.color-checkbox__label

    
