.color-checkbox {
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 15px;

    &__label {
        position: relative;
        padding: 0 0 0 46px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: solid 1px color("gray");
            box-sizing: border-box;
            background: #3748a6;
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 14px;
            left: 14px;
            width: 10px;
            height: 8px;
            background: url("../images/check.svg") no-repeat;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-6px);
        }
    }

    &__input {
        position: absolute !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        width: 1px !important;
        margin: -1px !important;
        padding: 0 !important;
        border: 0 !important;
        opacity: 0 !important;

        &:checked {
            + .color-checkbox__label {
                &::after {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
}