mixin color-checkbox(name)
    color-checkbox.color-checkbox
                label.color-checkbox
                    input.color-checkbox__input(type='checkbox' name=name)
                    span.color-checkbox__label

    
