mixin menu()
    nav.menu
        ul.menu__list
            li.menu__item
                a(class="menu__link" href="#") Мебель
                ul.menu__submenu
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Мягкая мебель
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Столы
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Стулья
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Стеллажы
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Шкафы-купе
            li.menu__item
                a(class="menu__link" href="#") Хранение
                ul.menu__submenu
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
            li.menu__item
                a(class="menu__link" href="#") Спальня
                ul.menu__submenu
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
            li.menu__item
                a(class="menu__link" href="#") Кухня
                ul.menu__submenu
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
            li.menu__item
                a(class="menu__link" href="#") Аксессуары
                ul.menu__submenu
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
            li.menu__item
                a(class="menu__link" href="#") Акции
                ul.menu__submenu
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт
                    li.menu__submenu-item
                        a(class="menu__submenu-link" href="#") Пункт