include ../../common/templates/mixins/mixins
include ../../components/header/header
include ../../components/footer/footer

doctype html
html(lang='ru')
    include parts/head
    body
        //- include ../icons/sprite.svg
        main.main
            +header()
            block content
            +footer()
        script(src='assets/scripts/app.min.js')
            