include ../product-btn/product-btn

mixin product-card(arr)
    if arr
        each product in arr
            .product-card
                .product-card__container
                    a.product-card__img(href=product.url)
                        img(src=product.img alt='Товар')
                    a.product-card__link.link(href=product.url)= product.title
                    .product-card__line
                        .product-card__price= product.price
                        .product-card__buttons
                            +product-btn('favourites')
                            +product-btn('cart')
            
