.product-btn {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &__icon {
        margin: 0;
        padding: 0;
    }
}